
.hidden {
    display: none;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.bolder {
    font-weight: bolder;
}

img {
    border: 0px;
}

th.date {
    width: 20%;
    padding: 0 10px;
}

th.edit {
    width: 8%;
    padding: 0 10px;
}

.obrigatory {
    border:1px solid #eaa1a0;
}

.search {
    width: 200px;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

:focus{
    outline: 0;
}

ins{
    text-decoration: none;
}

del{
    text-decoration: line-through;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************************
	  BASIC TEXT STYLES
*******************************/

/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/


a:focus{
    outline: 1px dotted;
}

hr{
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

ol,ul{
    list-style-type:circle;
}

ol ol,ul ul{
    font-style:italic;
}

ol{
    list-style-type:decimal;
}

ol ol{
    list-style-type:lower-latin;
}

ol,ul,blockquote,pre,li{
    /*margin-left: 30px;*/
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{
    /*margin-bottom: 20px;*/
}

blockquote{
    padding: 5px 25px 5px 0; font-style:italic;
}

blockquote p{
    border-left: 2px solid #eee; padding-left: 25px;
}

dt{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

dd{
    padding: 0;
}

/** Headings **/

h1{
    font-size: 25px;
}

h2{
    font-size: 23px;
}

h3{
    font-size: 21px;
}

h4{
    font-size: 19px;
}

h5{
    font-size: 17px;
}

h6{
    font-size: 15px;
}

.right{
    float:right;
}

/*******************************
		LAYOUT STYLES
*******************************/

/** Navigation's **/

ul.navigation{
    list-style:none;
    margin:20px 0 0 0;
    padding:0;
}

ul.navigation li{
    margin:0;
}

ul.navigation li a{
    text-decoration:none;
    color:#444444;
    font-size:13px;
    display:block;
    padding:5px 0 5px 30px;
}

ul.navigation li a img{
    margin:2px 15px 0 0;
    float:left;
}

ul.navigation li a:hover{
    background:#e0e0e0;
}

ul.navigation li.current a{
    background:#dbdbdb;
}

ul.navigation li ul{
    margin: 0 0 0 35px;
    list-style:none;
}

ul.navigation li ul li{

}

ul.navigation li ul li a,
ul.navigation li.current ul li a{
    font-size:11px;
    color:#575757;
    background:none;
    font-style:normal;
}

ul.navigation li ul li a:hover{
    background:none;
    text-decoration:underline;
}

/** CLEARFIX **/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

* html .clearfix {
    height: 1%;
}

/*******************************
		COLOUR SCHEMES
*******************************/

/** GREEN **/

/** Buttons, Pagination Current **/

body.green .button,
body.green div.pagination a.current{
    background:url(../../ControlAdmin/images/color_schemes/green_sprite.png) repeat-x;
    background-position:0px -93px;
    border:1px solid #0a810d;
    text-shadow:-1px -1px 1px #0a810d;
}


/*******************************
		FORM STYLES
*******************************/

/** Global Form Styles **/

form ul{
    list-style:none;
    margin:0;
    padding:0;
}

form ul li{
    list-style:none;
    margin:0 0 5px 0;
    padding:0;
}

form ul li ul{
    margin:0 0 20px 0;
}

div.checker span, div.radio span, div.uploader, div.uploader span.action{
    background-image:url(../../ControlAdmin/images/form_sprite.png);
    background-repeat:no-repeat;
}

.radio, .checker, .uploader, .radio *, .checker *, .uploader *{
    margin:0;
    padding:0;
}

.radio input:focus, .checker input:focus, .uploader input:focus{
    outline:0;
}

/** LABELS **/

label{
    clear:left;
    display:block;
    font-weight:bold;
    margin:0 0 5px 0;
    padding:0;
}

label.inline{
    display:block;
    margin-bottom:10px;
    font-weight:normal;
    font-style:normal;
}

/** INPUTS **/

select, input{
    background:#FFFFFF url(../../ControlAdmin/images/input_bg.png) repeat-x;
    border:1px solid #CCCCCC;
    margin-bottom:20px;
    padding:7px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
}

/** Text Inputs **/

select.small, input[type=text].small{
    width:33%;
}

select.small, input[type=text].medium{
    width:66%;
}

select.small, input[type=text].large{
    width:98%;
}

/** Buttons **/

.button{
    padding:3px 12px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color:#FFFFFF !important;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    line-height:20px;
    display:inline-block;
    margin:0 0 20px 0;
}

table#content .button {
    margin: 0;
}

.button_white{
    padding:3px 12px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color:#444444 !important;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    line-height:20px;
    display:inline-block;
    margin:0 0 20px 0;
    background:url(../../ControlAdmin/images/white_button.png) repeat-x bottom left;
    border:1px solid #CCCCCC;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    line-height:23px;
}

/** File Input **/

/** Fallback **/

input.file{
    border:0;
    padding:0;
    cursor:pointer;
}
/** TEXTAREA **/

/** Fallback **/

textarea{
    background:#FFFFFF url(../../ControlAdmin/images/input_bg.png) repeat-x;
    border:1px solid #CCCCCC;
    margin-bottom:20px;
    padding:7px;
    resize:vertical;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    width:98%;
}

/** SELECT **/

/** Fallback **/

select{
    margin-bottom:20px;
    cursor:pointer;
}

/** Jquery Enhanced version **/

.stylish-select ul.newList{
    left:-9999px;
}

ul.newList *{
    margin:0;
    padding:0;
}

ul.newList a{
    color:#000;
    display:block;
    text-decoration:none;
}

ul.newList{
    background:#fff;
    border:1px solid #ccc;
    color:#000;
    left:0px;
    list-style:none;
    margin:0 0 0 -1px;
    overflow:auto;
    padding:0;
    position:absolute;
    top:33px;
    width:249px;
    z-index:9999;
}

.newListSelected{
    background:url(../../ControlAdmin/images/select_bg.png) repeat-x left bottom;
    border:1px solid #CCCCCC;
    color:#000;
    float:left;
    height:31px;
    line-height:30px;
    margin:0 0 20px 0;
    -moz-border-radius:3px;
    padding:0 7px;
    -webkit-border-radius:3px;
    width:235px;
}

.newListSelected span{
    display:block;
    width:254px;
}

ul.newList li{
    margin:0 0 0 10px;
}

ul.newList li a{
    display:block;
    line-height:20px;
    padding:3px 8px 3px 18px;
}

ul.newList li a:focus{
    -moz-outline-style:none;
}

.selectedTxt{
    background:url(../../ControlAdmin/images/dropdown_arrows.png) no-repeat center right;
    color:#444444;
    height:30px;
    overflow:hidden;
    padding:0;
    width:235px;
    cursor:pointer;
}

.hiLite{
    background:#ededed!important;
}

.hiLite a{
    background:#ededed!important;
}

.newListHover{
    background:#e6e6e6!important;
    color:#000!important;
    cursor:default;
}

.newListSelHover, .newListSelFocus{
    cursor:default;
}

.newListOptionTitle{
    font-weight:bold;
}

.newListOptionTitle ul{
    margin:0 0 0 -20px;
}

.newListOptionTitle li{
    font-weight:normal;
}

/** CHECKBOXES **/

/** Fallback **/

input[type=checkbox]{
    margin:0 10px 0 0;
    cursor:pointer;
}

/** Jquery enhanced version **/

div.checker{
    height:19px;
    width:19px;
    margin-right:10px;
    float:left;
    position:relative;
    cursor:pointer;
    vertical-align: bottom;
    z-index:100;
}

div.checker input{
    height:19px;
    width:19px;
    background:none;
    display:inline-block;
    opacity:0;
    margin:0;
}

div.checker span{
    background-position:0px 0px;
    height:19px;
    width:19px;
    display:block;
    float:left;
    text-align:center;
}

div.checker:active span,
div.checker.active span{
    background-position:-19px 0px;
}

div.checker.focus span,
div.checker:hover span{
    background-position:-38px 0px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span{
    background-position:-57px 0px;
}

div.checker span.checked{
    background-position:-76px 0px;
}

div.checker:active span.checked,
div.checker.active span.checked{
    background-position:-95px 0px;
}

div.checker.focus span.checked,
div.checker:hover span.checked{
    background-position:-114px 0px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked{
    background-position:-133px 0px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span{
    background-position:-152px -0px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked{
    background-position:-171px -0px;
}

/** RADIOBUTTONS **/

/** Fallback **/

input[type=radio]{
    margin:0;
    cursor:pointer;
    margin:0 10px 0 0;
}

/** Jquery enhanced version **/

div.radio{
    height:18px;
    width:18px;
    margin-right:10px;
    float:left;
    position:relative;
    cursor:pointer;
    z-index:100;
}

div.radio input{
    height:18px;
    width:18px;
    background:none;
    display:inline-block;
    opacity:0;
    text-align:center;
    margin:0;
}

div.radio span{
    background-position:0px -19px;
    height:18px;
    width:18px;
    display:block;
    float:left;
    text-align:center;
}

div.radio:active span,
div.radio.active span{
    background-position:-18px -19px;
}

div.radio.focus span,
div.radio:hover span{
    background-position:-36px -19px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span{
    background-position:-54px -19px;
}

div.radio span.checked{
    background-position:-72px -19px;
}

div.radio:active span.checked,
div.radio.active span.checked{
    background-position:-90px -19px;
}

div.radio.focus span.checked, div.radio:hover span.checked{
    background-position:-108px -19px;
}

div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked{
    background-position:-126px -19px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span{
    background-position:-144px -19px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked{
    background-position:-162px -19px;
}

/*******************************
	  NOTIFICATION STYLES
*******************************/

/** Common Styles **/

p.notification{
    display:block;
    width:95%;
    padding:7px 7px 7px 30px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    border:1px solid;
}

p.notification a.close{
    position:absolute;
    top:0px;
    right:7px;
}

/** ie7 hack **/

* p.notification a.close{
    top:7px;
}

td.notification {
    padding-top: 20px;
}

/** Specific Notification Messages **/

.loading {
    padding:14px 10px 14px 50px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid;
    background: #fffbcc url('../../ControlAdmin/images/loading.gif') 10px 8px no-repeat;
    border-color: #E0E0E0 !important;
    color: #666452;
    font-weight: bolder;
}

.warning {
    background: #fffbcc url('../../ControlAdmin/images/icons/error.png') 7px 8px no-repeat;
    border-color: #E6DB55 !important;
    color: #666452;
}

.information {
    background: #dbe3ff url('../../ControlAdmin/images/icons/information.png') 7px 8px no-repeat;
    border-color: #a2b4ee !important;
    color: #585b66;
}

.success {
    background: #d5ffce url('../../ControlAdmin/images/icons/tick.png') 7px 8px no-repeat;
    border-color: #9adf8f !important;
    color: #556652;
}

.error {
    background: #ffcece url('../../ControlAdmin/images/icons/exclamation.png') 7px 8px no-repeat;
    border-color: #df8f8f !important;
    color: #665252;
}

/*******************************
		PAGINATION
*******************************/

div.pagination{
    text-align:right;
}

div.pagination a{
    margin:0 5px;
    padding:3px 12px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color:#444444 !important;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    line-height:20px;
    display:inline-block;
    background:url(../../ControlAdmin/images/white_button.png) repeat-x bottom left;
    border:1px solid #CCCCCC;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
}

div.pagination a.current{
    color:#FFFFFF !important;
}

/*******************************
	    MESSAGES MODAL
*******************************/

/** PROFILE MESSAGES **/

div#messages{
}

div#messages h3{
    border-bottom:1px solid #CCCCCC;
    padding-bottom:10px;
}

div#messages p{
    border-bottom:1px solid #DDDDDD;
    padding-bottom:20px;

}

div#messages form{

}

div#messages textarea{
    width:96%;
}

div#messages input[type=text]{
    width:96%;
}

div#messages input{

}

/*******************************
	 	TABLE STYLES
*******************************/

/** FALLBACK / BASIC STYLING **/

table{
}

table th{
    background:#FFFFFF url(../../ControlAdmin/images/select_bg.png) bottom left repeat-x !important;
    padding:5px 15px;
    text-align:left;
}

table td,table th{
    padding: 5px 7px;
    vertical-align:middle;
    line-height:24px;
}

table th,table td{
    border:1px solid #DDDDDD;
    background:#FFFFFF;
}

/** TABLESORTER JQUERY ENHANCED **/

/** Table row hover class **/

.hover {background-color: #ededed !important;}

/** Edit links **/

p.links{
    margin:5px 0 0 0;
    font-size:11px;
    line-height:16px;
}

p.links a{
    margin-right:10px;
}

/** Tablesorter **/

table.tablesorter {
    font-family:arial;
    margin:0 0 15px 0;
    width: 100%;
    text-align: left;
    border:0;
}

table.tablesorter thead tr{
    background:#FFFFFF url(../../ControlAdmin/images/select_bg.png) bottom left repeat-x;
}

table.tablesorter thead tr th {
    border:1px solid #DDDDDD;
    background:none;
    padding:5px 15px;
    text-align:left;
}

/** Fix width of checkbox column **/

table thead th.checkbox,
table.tablesorter thead th.checkbox{
    width:19px !important;
}

/** Fix jquery enhanced checkboxes when in table **/

table div.checker,
table.tablesorter div.checker{
    margin:0;
}

table.tablesorter thead tr .header {
    background-image: url(../../ControlAdmin/images/dropdown_arrows.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding:0 10px;
}

table.tablesorter tbody td {
    padding: 7px 15px;
    background-color: #FFF;
    vertical-align: top;
    border:1px solid #EDEDED;
    line-height:20px
}

table.tablesorter tbody tr{
    border:1px solid #EDEDED;
}

table tbody td.selected {
    background-color: #EDEDED;
}

/** Tablesorter icons **/

table.tablesorter thead tr .headerSortUp {
    background-image: url(../../ControlAdmin/images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../../ControlAdmin/images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #ededed;
}

/** (c)QwibbleDesigns 2010 - removed upon purchase **/