/***************************************************************/
/** objetos **/
/***************************************************************/

body {
    background: transparent url(../images/background.jpg) top center fixed;
    margin: 0;
    padding: 0;
    font: 13px/1.5 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

img {
    border: 0;
}

h1 {
    border-bottom: 1px solid #000;
}

h3 {
    border-bottom: 1px solid #000;
}

a {
    text-decoration: none;
}

/***************************************************************/
/** classes **/
/***************************************************************/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

* html .clearfix {
    height: 1%;
}

.center {
    text-align: center;
}

.orange {
    border-color: #f90;
    color: #f90;
}

.minimal {
    font-size: 8pt;
}

.small {
    font-size: 10pt;
}

.medium {
    font-size: 14pt;
}

.bigger {
    font-size: 18pt;
}

.right {
    float: right;
}

.item {
    margin: 5px;
    padding: 5px;
}

.item a {
    color: #000000;
}

.title {
    color: #295960;
}

.keyword {
    color: #C5C5C5;
}

.item p {
    padding: 0px;
    margin: 0px;
}

.pagination {
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 16pt;
}

.pagination a {
    padding: 5px;
    margin-right: 5px;
    background-color: #fda;
    border: 1px solid #f90;
    color: #000000;
}

.pagination .current {
    background-color: #f8edee;
    border: 1px solid #a44249;
}

/***************************************************************/
/** unique **/
/***************************************************************/

#top-lay-menu {
    background: transparent url(../images/menu.png) bottom center no-repeat;
    margin: 0;
    padding: 0;
}

#top {
    margin: 0;
    padding: 0;
}

#top a {
    padding-left: 25px;
}

#menu {
    margin: 0 60px;
    height: 40px;
}

#menu a {
    border: 0 none;
    cursor: pointer;
    display: block;
    text-indent: -5000px;
    float: left;
    height: 40px;
}

#menu a#QuemSomos {
    width: 162px;
}

#menu a#Clipping {
    width: 100px;
}

#menu a#SejaVoluntario {
    width: 180px;
}

#menu a#Projetos {
    width: 110px;
}

#menu a#Demandas {
    width: 122px;
}

#menu a#Agenda {
    width: 95px;
}

#menu a#Contato {
    width: 117px;
}

#body {
    padding: 10px 40px 0 40px;
}

div#container {
    background-color: #FFFFFF;
}

div#container div#bar {
    float: right;
    width: 200px;
}

div#container div#context {
    float: left;
    width: 700px;
}

#logotype-hidden {
    display: none;
}

#copyright-links {
    padding-top: 50px;
    text-align: center;
}

#google-button {
    padding: 20px 0;
}

#social-links {
    padding-top: 20px;
    text-align: center;
}

#umbrella {
    position: absolute;
    width: 1006px;
    left: 50%; margin-left: -503px;
}

#foreground {
    background: transparent url(../images/foreground.png) top center repeat-y;
}

#bottom {
    background: transparent url(../images/bottom.png) bottom center no-repeat;
    height: 108px;
}

#QuemSomosBody .item .thumbnail {
    background-color: #FFFFFF;
    border: 1px solid #295960;
    padding: 5px;
    margin-right: 5px;
    float: left;
}

#QuemSomosBody .item .contato {
    text-align: right;
}

#QuemSomosBody .item .contato a {
    padding: 5px 0;
}

body#printable {
    background: inherit;
    margin: 0 30 0 30;
}

.post_title {
    color: #295960;
    font-size: 18pt;
}

.post_description {
    border: 20px;
}

.post_insert {
    font-size: 8pt;
}

.post_keyword {
    color: #6b6969;
}