<h1>{% get (Title) %}</h1>

<div id="IPSPostBody">
    <div class="clear"></div>
    <p class="minimal">{% get (Insert) %}</p>
    <div>
        {% get (Text) %}
    </div>
    <div class="pagination">
        <a href="{% path ({% get (Retorno) %}) nocache %}" title="Voltar">Voltar</a>
        <a href="{% path ({% get (Retorno) %}) nocache %}" title="Imprimir">Imprimir</a>
    </div>
</div>