<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
    <head>
        <title>{% get (System Title) %} - Amatreco.org</title>
        <meta name="author" content="{% get (System Author) %}">
        <meta name="keywords" content="{% get (System Keywords) %}">
        <meta name="description" content="{% get (System Description) %}">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="content-language" content="pt-br">
        <link rel="stylesheet" href="{% path (Gallery/Styles/General.css) %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% path (Gallery/Amatreco/css/styles.css) %}" type="text/css" media="screen" />
        <style type="text/css">
            #top {
                background: transparent url({% path (Gallery/Amatreco/Top/{% get (LogotypeBackground) %}) nocache %}.png) top center no-repeat;
            height: 217px;
            width: 1005px;
            }
        </style>
    </head>
    <body class="green">
        <div id="logotype-hidden">
            <img src="{% path (Gallery/Amatreco/images/amatreco.png) nocache %}" alt="" title="{% define (System Title) %}" />
        </div>
        <div id="umbrella">
            <div id="foreground">
                <div id="top-lay-menu">
                    <div id="top"><a href="{% path () nocache %}"><img src="{% path (Gallery/Amatreco/images/logotype.png) nocache %}" alt="" title="{% define (System Title) %}" /></a></div>
                    <div id="menu">
                        <a href="{% path (QuemSomos) nocache %}" id="QuemSomos" title="Quem Somos">Quem Somos</a>
                        <a href="{% path (Clipping) nocache %}" id="Clipping" title="Clipping">Clipping</a>
                        <a href="{% path (SejaVoluntario) nocache %}" id="SejaVoluntario" title="Seja voluntário">Seja voluntário</a>
                        <a href="{% path (Projetos) nocache %}" id="Projetos" title="Projetos">Projetos</a>
                        <a href="{% path (Demandas) nocache %}" id="Demandas" title="Demandas">Demandas</a>
                        <a href="{% path (Agenda) nocache %}" id="Agenda" title="Agenda">Agenda</a>
                        <a href="{% path (Contato) nocache %}" id="Contato" title="Contato">Contato</a>
                    </div>
                </div>
                <div id="body">
                    <div id="container">
                        <div id="bar">
                            <div id="google-button">
                                <g:plusone></g:plusone>
                            </div>
                            <script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script>
                            <fb:activity site="http://www.amatreco.org" width="200" height="500" header="false" font="" border_color="#FFFFFF" recommendations="true"></fb:activity>
                        </div>
                        <div id="context">
                            {% get (Container) %}
                            <div id="copyright-links">
                                &copy; 2011 Amatreco. Todos os direitos reservados.
                            </div>
                            <div id="social-links">
                                <a href="http://www.facebook.com/pages/Associa%C3%A7%C3%A3o-de-Moradores-do-Bairro-Tr%C3%AAs-Cora%C3%A7%C3%B5es-Amatreco/150525944979723" target="_blank">
                                    <img src="{% path (Gallery/Amatreco/images/facebook_32.png) nocache %}" alt="" title="Facebook" />
                                </a>
                                <a href="http://twitter.com/amatreco" target="_blank">
                                    <img src="{% path (Gallery/Amatreco/images/twitter_32.png) nocache %}" alt="" title="Twitter" />
                                </a>
                                <a href="http://www.youtube.com/user/amatreco100" target="_blank">
                                    <img src="{% path (Gallery/Amatreco/images/youtube_32.png) nocache %}" alt="" title="Twitter" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <br clear="all">
                </div>
            </div>
            <div id="bottom"></div>
        </div>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-12833903-4']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
            {lang: 'pt-BR'}
        </script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e15b0be715fdf56"></script>
    </body>
</html>
