<div id="inner">

    <!-- Form Elements -->
    <form id="Form" action="{% define (System Request URI) %}" method="post">
        <ul>

            {% if ({% get (Submit) %} == ERRO) SubmitErro %}
            <li>
                <p class="notification error">
                    <span>Não foi possível salvar as alterações, tente novamente!</span>
                </p>
            </li>
            {% endif:SubmitErro %}

            <li>
                <label for="Nome">Nome</label>
                <input name="Nome" id="Nome" type="text" class="large obrigatory" maxlength="255" value="{% get (Nome) %}" />
            </li>

            <li>
                <label for="Funcao">Função</label>
                <input name="Funcao" id="Funcao" type="text" class="small obrigatory" maxlength="50" value="{% get (Funcao) %}" />
            </li>

            <li>
                <label for="Prioridade">Prioridade na listagem</label>
                <select name="Prioridade" id="Prioridade" class="obrigatory">
                    <option value="0">Mínimo</option>
                    <option value="1">Médio</option>
                    <option value="3">Máximo</option>
                </select>
            </li>

            <li>
                <label for="Descricao">Descrição</label>
                <textarea name="Descricao" id="Descricao" cols="80" rows="10" class="obrigatory">{% get (Descricao) %}</textarea>
            </li>

            <li>
                <label for="Email">E-mail</label>
                <input name="Email" id="Email" type="text" class="small obrigatory" maxlength="50" value="{% get (Email) %}" />
            </li>

            <li>
                <label for="Site">Website / Blog</label>
                <input name="Site" id="Site" type="text" class="large" maxlength="255" value="{% get (Site) %}" />
            </li>

            <li>
                <label for="Facebook">Facebook</label>
                <input name="Facebook" id="Facebook" type="text" class="large" maxlength="255" value="{% get (Facebook) %}" />
            </li>

            <li>
                <label for="Twitter">Twitter</label>
                <input name="Twitter" id="Twitter" type="text" class="large" maxlength="255" value="{% get (Twitter) %}" />
            </li>

            <li>
                <label for="Orkut">Orkut</label>
                <input name="Orkut" id="Orkut" type="text" class="large" maxlength="255" value="{% get (Orkut) %}" />
            </li>
            <li>
                <label for="Site">Avatar</label>
                <div>
                    <span id="AvatarImg"></span>
                    <a href="javascript:doAvatarRemove();"><img src="{% path (Gallery/ControlAdmin/images/icons/delete.png) %}" alt="Remover" /></a>
                    <input type="hidden" name="Avatar" id="Avatar" value="" />
                    <input type="hidden" name="AvatarOld" id="AvatarOld" value="{% get (Avatar) %}" />
                </div>
                <div id="AvatarQueue"></div>
                <br clear="all" />
                <p>
                    <input type="file" name="AvatarFile" id="AvatarFile" />
                </p>
            </li>

            <li>
                <a href="javascript:void(0);" onclick="doSubmit(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("Quem Somos");
    function doAvatar(Avatar, inCache) {
        $("#AvatarImg").parent().hide();
        $("#AvatarImg").empty();
        $("#Avatar").val("");
        if (Avatar.length > 0) {
            $("#Avatar").val(Avatar);
            $("#AvatarImg").html("<img src='"+ IPS_ROOT + "Admin/Container/Dashboard/QuemSomos/Edit/Avatar/View?Avatar=" + Avatar + (inCache == true ? "&Cache=1" : "") + "&=" + Math.ceil ( Math.random() * 100000 ) + "' alt='Avatar' />");
            $("#AvatarImg").parent().show();
        }
    }
    function doAvatarRemove() {
        var agree = confirm("Deseja remover esta imagem?");
        if (agree) {
            $("#AvatarImg").parent().hide();
            $("#AvatarImg").empty();
            $("#Avatar").val("");
        }
    }
    $("#AvatarFile").uploadify({
        'queueID'        : 'AvatarQueue',
        'script'         : IPS_ROOT +'Admin/Container/Dashboard/QuemSomos/Edit/Avatar/Upload',
        'uploader'       : IPS_GALLERY +'Plugins/uploadify/uploadify.swf',
        'cancelImg'      : IPS_GALLERY +'ControlAdmin/images/icons/cancel.png',
        'fileExt'        : "*.jpg;*.png",
        'fileDesc'       : "Somente JPG e PNG",
        'auto'           : true,
        'buttonText'     : "Selecionar",
        'onComplete'     : function (e, id, obj, data) {
            doAvatar(data, true);
        }
    });
    $("#Prioridade").val("{% get (Prioridade) %}");
    doAvatar("{% get (Avatar) %}");
</script>