<div id="inner">

    {% if ({% get (Submit) %} == ERRO) SubmitErro %}
    <div>
        <p class="notification error">Não foi possível salvar as alterações, tente novamente!</p>
    </div>
    {% endif:SubmitErro %}

    {% if ({% get (Submit) %} == SUCCESS) SubmitSuccess %}
    <div>
        <p class="notification success">Operação realizada com sucesso!</p>
    </div>
    {% endif:SubmitSuccess %}

    <a href="javascript:doPage('Dashboard/Demandas/Edit')" class="button_white" title="Novo Registro">Novo Registro</a>

    <!-- Tabular Data - no div#inner because padding isnt needed -->
    <table width="100%" id="content">
        <thead>
            <tr>
                <th class="checkbox"><input type="checkbox"></th>
                <th>Nome</th>
                <th class="date">Cadastro</th>
                <th class="edit"></th>
            </tr>
        </thead>
        <tbody>
            {% if ({% get (Total Rows) %} >= 1) TotalRows %}

            {% for ({% get (First Row) %} {% get (Last Row) %}) Rows %}
            <tr>
                <td><input type="checkbox" class="checkbox" value="{% get (IPSPost idIPSPost {% this:Rows %}) %}"></td>
                <td>{% get (IPSPost Title {% this:Rows %}) %}</td>
                <td>{% get (IPSPost Insert {% this:Rows %}) %}</td>
                <td align="center"><a href="javascript:doPage('Dashboard/Demandas/Edit/{% get (IPSPost idIPSPost {% this:Rows %}) %}')"><img src="{% path (Gallery/ControlAdmin/images/icons/pencil.png) %}" alt="Editar" /></a></td>
            </tr>
            {% endfor:Rows %}
            <tr>
                <td colspan="4"><a href="javascript:doDelete();" class="button" title="Apagar">Apagar</a></td>
            </tr>

            {% else:TotalRows %}
            <tr>
                <td colspan="4" class="notification information center">
                    <p>
                        <span> Nenhum registro cadastrado!</span>
                    </p>
                </td>
            </tr>
            {% endif:TotalRows %}
        </tbody>

    </table>
    <!-- /End Tabular Data -->

    {% if ({% get (Total Rows) %} >= 1) Pagination %}
    <!-- Pagination -->
    <div class="pagination">
        {% if ({% get (First Page) %} >= 1) First %}
        <a href="javascript:doPage('Dashboard/Demandas/{% get (First Page) %}')" title="Primeira Página">&#171; Primeira</a>
        {% endif:First %}
        {% if ({% get (Previous Page) %} >= 1) Previous %}
        <a href="javascript:doPage('Dashboard/Demandas/{% get (Previous Page) %}')" title="Página Anterior">&#171; Anterior</a>
        {% endif:Previous %}
        <a href="#" class="current" title="{% get (page-this) %}">{% get (This Page) %}/{% get (Total Pages) %}</a>
        {% if ({% get (Next Page) %} >= 1) Next %}
        <a href="javascript:doPage('Dashboard/Demandas/{% get (Next Page) %}')" title="Próxima Página">Próxima &#187;</a>
        {% endif:Next %}
        {% if ({% get (Last Page) %} >= 1) Last %}
        <a href="javascript:doPage('Dashboard/Demandas/{% get (Last Page) %}')" title="Última Página">Última &#187;</a>
        {% endif:Last %}
    </div>
    <!-- /End Pagination -->
    {% endif:Pagination %}

</div>
<script type="text/javascript">
    doTitle("Demandas");
    function doDelete() {
        var thisIds = new Array()
        var thisItem = $("#inner").children('table').children('tbody').find('input[type=checkbox]:checked');
        $(thisItem).each(function() {
            thisIds.push($(this).val());
        });
        if (thisIds.length>0) {
            var agree = confirm('Deseja excluir o(s) registro(s) selecionado(s)?');
            if (agree) {
                doPage('Dashboard/Demandas/Delete/' + thisIds);
            }
        } else alert("É necessário selecionar ao menos um registro.");
    }

    function doSearch() {
        $(".search").slideToggle("slow");
    }
</script>