<div id="inner">

    <!-- Form Elements -->
    <form id="Form" action="{% define (System Request URI) %}" method="post">
        <ul>

            {% if ({% get (Submit) %} == ERRO) SubmitErro %}
            <li>
                <p class="notification error">
                    <span>Não foi possível salvar as alterações, tente novamente!</span>
                </p>
            </li>
            {% endif:SubmitErro %}

            <li>
                <label for="Data">Data</label>
                <input name="Data" id="Data" type="text" class="small obrigatory date-pick" maxlength="10" value="{% get (Data) %}" />
            </li>

            <li>
                <label for="Hora">Hora</label>
                <input name="Hora" id="Hora" type="text" class="small obrigatory" maxlength="5" value="{% get (Hora) %}" />
            </li>

            <li>
                <label for="Local">Local</label>
                <input name="Local" id="Local" type="text" class="small obrigatory" maxlength="255" value="{% get (Local) %}" />
            </li>

            <li>
                <label for="Titulo">Título</label>
                <input name="Titulo" id="Titulo" type="text" class="medium obrigatory" maxlength="45" value="{% get (Titulo) %}" />
            </li>

            <li>
                <label for="Descricao">Descrição</label>
                <textarea name="Descricao" id="Descricao" cols="80" rows="10" class="limit obrigatory wysiwyg">{% get (Descricao) %}</textarea>
            </li>

            <li>
                <a href="javascript:void(0);" onclick="doSubmit(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("Agenda");
</script>