{% get (Buscador) %}
<div id="IPSPostBody">
    <div class="clear"></div>

    {% if ({% get (Total Rows) %} >= 1) TotalRows %}
    {% for ({% get (First Row) %} {% get (Last Row) %}) Rows %}
    <div class="item">
        <a href="{% path (Clipping/Exibir/{% get (IPSPost idIPSPost {% this:Rows %}) %}/{% get (IPSPost Retorno) %}) nocache %}" class="conteudo">
            <p class="post_title">{% get (IPSPost Title {% this:Rows %}) %}</p>
            <p class="post_insert">{% get (IPSPost Insert {% this:Rows %}) %} <span class="post_keyword">{% get (IPSPost Keyword {% this:Rows %}) %}</span></p>
            <p class="post_description">{% get (IPSPost Description {% this:Rows %}) %}</p>
        </a>
        <div class="clear"></div>
    </div>
    {% endfor:Rows %}
    {% else:TotalRows %}
    <div class="mensagem alerta">Nenhum clipping encontrado!</div>
    {% endif:TotalRows %}

</div>