<h1>Seja Voluntario</h1>

<div id="inner">

    <!-- Form Elements -->
    <form id="Form" name="Form" action="{% path (SejaVoluntario) nocache %}" method="post">
        <ul>

            {% if ({% get (Submit) %} == ERRO) SubmitErro %}
            <li>
                <p class="notification error">
                    <span>Não foi possível enviar a mensagem, tente novamente!</span>
                </p>
            </li>
            {% endif:SubmitErro %}

            {% if ({% get (Submit) %} == SUCCESS) SubmitSuccess %}
            <li>
                <p class="notification success">
                    <span>Operação realizada com sucesso!</span>
                </p>
            </li>
            {% endif:SubmitSuccess %}

            <li>
                <label for="Nome">Nome</label>
                <input name="Nome" id="Nome" type="text" class="small obrigatory" maxlength="50" value="" />
            </li>

            <li>
                <label for="Email">Email</label>
                <input name="Email" id="Email" type="text" class="small obrigatory" maxlength="100" value="" />
            </li>

            <li>
                <label for="Mensagem">O que pode fazer como voluntário?</label>
                <textarea name="Mensagem" id="Mensagem" cols="80" rows="10" class="limit obrigatory"></textarea>
            </li>

            <li>
                <a href="javascript:void(0);" onclick="doSubmit(this);" class="button">Enviar Mensagem</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>

<link rel="stylesheet" href="{% path (Gallery/Amatreco/css/form.css) %}" type="text/css" media="screen" />
<script src="{% path (Gallery/Plugins/jquery/jquery-1.4.2.min.js) %}" type="text/javascript" charset="utf-8"></script>
<script src="{% path (Gallery/ControlAdmin/js/custom.jquery.js) %}" type="text/javascript"></script>
<script type="text/javascript">
    var IPS_ROOT = "{% path () nocache %}";
    var IPS_GALLERY = IPS_ROOT + "Gallery/";
    var IPS_CONTROLADMIN = IPS_GALLERY + "ControlAdmin/";

    function doSubmit(object) {
        $("#Form").trigger("submit");
    }
</script>