<div id="inner">

    <!-- Form Elements -->
    <form id="Form" action="{% define (System Request URI) %}" method="post">
        <!--<input name="idIPSSource" id="idIPSSource" type="hidden" value="1" />-->
        <input name="idIPSCategory" id="idIPSCategory" type="hidden" value="4" />
        <ul>

            {% if ({% get (Submit) %} == ERRO) SubmitErro %}
            <li>
                <p class="notification error">
                    <span>Não foi possível salvar as alterações, tente novamente!</span>
                </p>
            </li>
            {% endif:SubmitErro %}

            <li>
                <label for="Title">Título</label>
                <input name="Title" id="Title" type="text" class="small obrigatory" maxlength="255" value="{% get (Title) %}" />
            </li>

            <li>
                <label for="Description">Resumo</label>
                <input name="Description" id="Description" type="text" class="medium" maxlength="255" value="{% get (Description) %}" />
            </li>

            <li>
                <label for="Text">Texto</label>
                <textarea name="Text" id="Text" cols="80" rows="20" class="wysiwyg">{% get (Text) %}</textarea>
            </li>

            <!--
            <li>
                <label for="Location">Origem</label>
                <input name="Location" id="Location" type="text" class="large" value="{% get (Location) %}" />
            </li>
            -->

            <li>
                <label for="Keyword">Palavras chave</label>
                <input name="Keyword" id="Keyword" type="text" class="large" value="{% get (Keyword) %}" />
            </li>

            <li>
                <a href="javascript:void(0);" onclick="doSubmit(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("Demandas");
</script>