<div id="inner">

    <!-- Form Elements -->
    <form id="Form" action="{% define (System Request URI) %}" method="post">
        <input name="idIPSCategoryMain" id="idIPSCategoryMain" type="hidden" value="{% get (idIPSCategoryMain) %}" />
        <ul>

            {% if ({% get (Submit) %} == ERRO) SubmitErro %}
            <li>
                <p class="notification error">
                    <span>Não foi possível salvar as alterações, tente novamente!</span>
                </p>
            </li>
            {% endif:SubmitErro %}

            <li>
                <label for="Name">Nome</label>
                <input name="Name" id="Name" type="text" class="small obrigatory" maxlength="45" value="{% get (Name) %}" />
            </li>

            <li>
                <label for="Description">Descrição</label>
                <input name="Description" id="Description" type="text" class="large" maxlength="255" value="{% get (Description) %}" />
            </li>

            <li>
                <a href="javascript:void(0);" onclick="doSubmit(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("Categorias");
</script>