<!DOCTYPE html>
    <head>
        <title>{% define (System Title) %}</title>
        <link rel="stylesheet" href="{% path (Gallery/ControlAdmin/css/styles.css) %}" type="text/css" media="screen" />
        <script src="{% path (Gallery/Plugins/jquery/jquery-1.4.2.min.js) %}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">

            var IPS_CONTROLADMIN = "{% path (Gallery/ControlAdmin) nocache %}/";
            $(document).ready(function() {
                $('.notification').delay(2000).fadeOut(400);
            });
            
            function doSubmit() {
                $("#authenticate").trigger("submit");
            }

        </script>
    </head>
    <!-- Page specific body class chooses layout colour -->
    <body class="green">
        <div id="login_container">
            <div id="login">
                <div id="login_header"><h2>Autenticação</h2></div>
                <div id="login_content">
                    <form id="authenticate" action="" method="post">
                        <ul id="authenticate-itens">
                            {% if ({% get (Submit) %} == ERRO) then %}
                            <li>
                                <p class="notification error">
                                    <span>Nome do usuário ou senha inválido!</span>
                                </p>
                            </li>
                            {% endif:then %}
                            <li><label>Usuário:</label> <input type="text" name="Account" /></li>
                            <li><label>Senha:</label> <input type="password" name="Password" /></li>
                            <li class="clearfix"><a href="javascript:doSubmit();" class="button right">Ok</a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <!-- Load Jquery -->
        <script src="{% path (Gallery/ControlAdmin/js/custom.jquery.js) %}" type="text/javascript"></script>
        <!-- /End Jquery -->
    </body>
</html>