{% get (Buscador) %}
<h1>Demandas</h1>
<div id="IPSPostBody">
    <div class="clear"></div>

    {% if ({% get (Total Rows) %} >= 1) TotalRows %}
    {% for ({% get (First Row) %} {% get (Last Row) %}) Rows %}
    <div class="item">
        <a href="{% path (Demandas/Exibir/{% get (IPSPost idIPSPost {% this:Rows %}) %}/{% get (IPSPost Retorno) %}) nocache %}" class="conteudo">
            <p class="post_title">{% get (IPSPost Title {% this:Rows %}) %}</p>
            <p class="post_insert">{% get (IPSPost Insert {% this:Rows %}) %} <span class="post_keyword">{% get (IPSPost Keyword {% this:Rows %}) %}</span></p>
            <p class="post_description">{% get (IPSPost Description {% this:Rows %}) %}</p>
        </a>
        <div class="clear"></div>
    </div>
    {% endfor:Rows %}
    {% else:TotalRows %}
    <div class="mensagem alerta">Nenhum Demandas encontrado!</div>
    {% endif:TotalRows %}

    {% if ({% get (Total Rows) %} >= 1) Pagination %}
    <!-- Pagination -->
    <div class="pagination">
        {% if ({% get (First Page) %} >= 1) First %}
        <a href="{% path (Demandas/{% get (First Page) %}) nocache %}" title="Primeira Página">Primeira</a>
        {% endif:First %}
        {% if ({% get (Previous Page) %} >= 1) Previous %}
        <a href="{% path (Demandas/{% get (Previous Page) %}) nocache %}" title="Página Anterior">Anterior</a>
        {% endif:Previous %}
        <a href="#" class="current" title="{% get (page-this) %}">{% get (This Page) %}/{% get (Total Pages) %}</a>
        {% if ({% get (Next Page) %} >= 1) Next %}
        <a href="{% path (Demandas/{% get (Next Page) %}) nocache %}" title="Próxima Página">Próxima</a>
        {% endif:Next %}
        {% if ({% get (Last Page) %} >= 1) Last %}
        <a href="{% path (Demandas/{% get (Last Page) %}) nocache %}" title="Última Página">Última</a>
        {% endif:Last %}
    </div>
    <!-- /End Pagination -->
    {% endif:Pagination %}

</div>