<!DOCTYPE html>
<head>
    <title>{% define (System Title) %}</title>
    <link rel="stylesheet" href="{% path (Gallery/ControlAdmin/css/styles.css) %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% path (Gallery/Plugins/uploadify/uploadify.css) nocache %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% path (Gallery/Plugins/jwysiwyg/jquery.wysiwyg.css) nocache %}" type="text/css" media="screen" />
    <script src="{% path (Gallery/Plugins/jquery/jquery-1.4.2.min.js) %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var IPS_ROOT = "{% path () nocache %}";
        var IPS_GALLERY = IPS_ROOT + "Gallery/";
        var IPS_CONTROLADMIN = IPS_GALLERY + "ControlAdmin/";
        
        $(document).ready(function() {
            $('p.notification').delay(2000).fadeOut(400);
            $("#subheader").ajaxStart(function(){
                $("#content").hide();
                $("#loading").show();
            });
            $("#subheader").ajaxStop(function(){
                $("#loading").hide();
                $("#content").show();
            });
            doPage("{% get (Starter) %}");
        });

        var xhr = false;
        function doPage(page, data) {
            if (page.length > 0) {
                $.ajax({
                    url: "{% path (Admin/Container) nocache %}/" + page,
                    data: data,
                    cache: false,
                    success: function(data){
                        doMenu(page);
                        $("#content").html(data + "<br clear='all' />");
                        $.getScript('{% path (Gallery/ControlAdmin/js/custom.uniform.js) %}');
                    },
                    error: function(){
                        alert("Atenção!\nOcorreu um erro durante operação, tente novamente!");
                    }
                });
            }
        }

        function doOpen(url, target) {
            window.open(url, target);
        }

        function doSubmit(object) {
            var form = $(object).parents("form");
            $(form).children().append('<input name="doConfirm" type="hidden" value="'+parseInt(new Date().getTime().toString().substring(0, 10))+'" />');
            if ($(form).attr("action").length > 0) {
                xhr = $.ajax({
                    url: $(form).attr("action"),
                    data: $(form).serialize(),
                    type: "POST",
                    cache: false,
                    success: function(data){
                        $("#content").html(data + "<br clear='all' />");
                        $.getScript('{% path (Gallery/ControlAdmin/js/custom.uniform.js) %}');
                    },
                    error: function(){
                        alert("Atenção!\nOcorreu um erro durante operação, tente novamente!");
                    }
                });
            }
        }

        function doTitle(title) {
            $("#subheader").hide();
            if (title.length > 0) {
                $("#subheader").html("<h2>"+title+"<h2>");
                $("#subheader").show();
            }
        }

        function doMenu(current) {
            var main = "{% get (Starter) %}";
            var children = $("ul#"+main).find("li").eq(0).attr("id");
            var subitem = false;
            if (current.length > 0) {
                var selected = current.split("/");
                if (selected[0].length > 0) {
                    main = selected[0];
                    if (selected[1] != undefined) {
                        if (selected[1].length > 0) {
                            children = selected[1];
                            if (selected[2] != undefined) {
                                if (selected[2].length > 0) {
                                    subitem = selected[2];
                                }
                            }
                        }
                    }
                }
            }
            $("ul#menu li a[href="+main+"]").trigger("click");
            $("ul.navigation li.current").removeClass("current");
            $("ul#"+main+" li#"+children).addClass("current");
            if (subitem) {
                $("ul#"+main+" li#"+children+" a").trigger("click");
            }
        }

    </script>
</head>
<!-- Page specific body class chooses layout colour -->
<body class="green">


    <!-- Header -->
    <div id="header">
        <img id="logo" src="{% path (Gallery/ControlAdmin/images/logo.png) %}" alt="Administração">
        <h1>{% define (System Title) %}</h1>
        <a href="{% path () nocache %}" class="visit">visitar</a>
        <p>
            Olá <a href="javascript:doPage('Dashboard/Perfil');"><strong>{% get (Profile Name) %}</strong> (editar)</a> |
            <a href="{% path (Admin/Logoff) nocache %}">Sair</a>
        </p>
    </div>
    <!-- /End Header -->

    <!-- Main Area Container -->
    <div id="container">

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Menu Selector -->
            <a class="menu" href=""></a>
            <ul id="menu">
                <li><a href="Dashboard">Dashboard</a></li>
                {% if ({% get (Profile Account) %} == root) MenuConfig %}
                <li><a href="Config">Configuração</a></li>
                {% endif:MenuConfig %}
            </ul>
            <!-- /End Menu Selector -->

            <!-- Dashboard Navigation -->
            <ul class="navigation" id="Dashboard">
                <li id="Dashboard">
                    <a href="javascript:doPage('Dashboard');">Principal</a>
                </li>
                <li id="QuemSomos">
                    <a href="javascript:doPage('Dashboard/QuemSomos');">Quem Somos</a>
                </li>
                <li id="Clipping">
                    <a href="javascript:doPage('Dashboard/Clipping');">Clipping</a>
                </li>
                <li id="Projetos">
                    <a href="javascript:doPage('Dashboard/Projetos');">Projetos</a>
                </li>
                <li id="Demandas">
                    <a href="javascript:doPage('Dashboard/Demandas');">Demandas</a>
                </li>
                <li id="Agenda">
                    <a href="javascript:doPage('Dashboard/Agenda');">Agenda</a>
                </li>
                <li id="Perfil">
                    <a href="javascript:doPage('Dashboard/Perfil');">Meu Perfil</a>
                </li>
            </ul>


            {% if ({% get (Profile Account) %} == root) NavConfig %}
            <!-- Config Navigation -->
            <ul class="navigation" id="Config">
                <li id="Category">
                    <a href="javascript:doPage('Config/Category');">Categorias</a>
                </li>
                <li id="Account">
                    <a href="javascript:doPage('Config/Account');">Contas de Usuário</a>
                </li>
            </ul>
            {% endif:NavConfig %}

            <!--<ul class="navigation" id="Config">
                <li id="Profile">
                    <a href="javascript:doPage('Dashboard/Perfil');">Perfil</a>
                </li>
                <li id="SMTP">
                    <a href="javascript:doPage('Config/SMTP');">SMTP</a>
                </li>
                <li id="Get">
                    <a href="javascript:doPage('Config/Get');">Permalinks/Atalhos</a>
                </li>
            </ul>-->
            <!-- /End Dashboard Navigation -->

        </div>
        <!-- /End Sidebar -->

        <!-- Subheader -->
        <div id="subheader" class="clearfix"></div>
        <!-- /End Subheader -->

        <!-- Main Content Area -->
        <div id="content"></div>
        <div id="loading">
            <div class="loading">Carregando...</div>
        </div>
        <!-- /End Content Area -->

    </div>
    <!-- End Main Area Container -->

    <!-- Load Jquery -->
    <script src="{% path (Gallery/ControlAdmin/js/custom.jquery.js) %}" type="text/javascript"></script>
    <!-- /End Jquery -->
</body>
</html>