<div id="inner">

    <!-- Form Elements -->
    <form id="Form" action="{% define (System Request URI) %}" method="post">
        <ul>

            {% if ({% get (Submit) %} == ERRO) SubmitErro %}
            <li>
                <p class="notification error">
                    <span>Não foi possível salvar as alterações, tente novamente!</span>
                </p>
            </li>
            {% endif:SubmitErro %}

            <li>
                <label for="Nome">Nome</label>
                <input name="Nome" id="Nome" type="text" class="large obrigatory" maxlength="255" value="{% get (Nome) %}" />
            </li>

            <li>
                <label for="Descricao">Descrição</label>
                <input name="Descricao" id="Descricao" type="text" class="medium" maxlength="255" value="{% get (Descricao) %}" />
            </li>

            <li>
                <label for="Texto">Descrição</label>
                <textarea name="Texto" id="Texto" cols="80" rows="10" class="wysiwyg">{% get (Texto) %}</textarea>
            </li>

            <li>
                <a href="javascript:void(0);" onclick="doSubmit(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("Projetos");
</script>