<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>{% define (System Title) %} - Página Inicial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{% path (Gallery/Styles/General.css) %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% path (Gallery/Amatreco/css/styles.css) %}" type="text/css" media="screen" />
    </head>
    <body id="printable">
        <div id="logotipo">
            <img src="{% path (Gallery/Amatreco/images/bar.jpg) nocache %}" alt="" title="{% define (System Title) %} - Página Inicial" />
        </div>
        <h1>{% get (Title) %}</h1>
        <div id="IPSPostBody">
            <div class="clear"></div>
            <p class="minimal">{% get (Insert) %}</p>
            <div>
                {% get (Text) %}
            </div>
        </div>
    </body>
</html>