{% get (Buscador) %}
<h1>Agenda</h1>

<div id="IPSPostBody">
    <div class="clear"></div>

    {% if ({% get (Total Rows) %} >= 1) TotalRows %}
    {% for ({% get (First Row) %} {% get (Last Row) %}) Rows %}
    <div class="item">
        <p class="post_title">{% get (Agenda Titulo {% this:Rows %}) %}</p>
        <p class="post_insert">
            <b>Dia: </b> {% get (Agenda Dia {% this:Rows %}) %}<br />
            <b>Hora: </b> {% get (Agenda Hora {% this:Rows %}) %}<br />
            <b>Local: </b> {% get (Agenda Local {% this:Rows %}) %}<br />
        </p>
        <p class="post_description">{% get (Agenda Descricao {% this:Rows %}) %}</p>
        <div class="clear"></div>
    </div>
    {% endfor:Rows %}
    {% else:TotalRows %}
    <div class="mensagem alerta">Nenhum evento na agenda para os próximos dias!</div>
    {% endif:TotalRows %}

</div>