<div id="inner">

    <!-- Form Elements -->
    <form id="Form" action="{% define (System Request URI) %}" method="post">
        <ul>

            {% if ({% get (Submit) %} == ERRO) SubmitErro %}
            <li>
                <p class="notification error">
                    <span>Não foi possível salvar as alterações, tente novamente!</span>
                </p>
            </li>
            {% endif:SubmitErro %}

            <li>
                <label for="Name">Nome</label>
                <input name="Name" id="Name" type="text" class="medium obrigatory" maxlength="45" value="{% get (Name) %}" />
            </li>

            <li>
                <label for="Account">Usuário</label>
                <input name="Account" id="Account" type="text" class="small obrigatory" maxlength="45" value="{% get (Account) %}" />
            </li>

            <li>
                <label for="Password">Senha</label>
                <input name="Password" id="Password" type="password" class="small" maxlength="45" value="" />
            </li>

            <li>
                <label for="ConfirmPassword">Confirme a Senha</label>
                <input name="ConfirmPassword" id="ConfirmPassword" type="password" class="small" maxlength="45" value="" />
            </li>

            <li>
                <label for="Description">Descrição</label>
                <input name="Description" id="Description" type="text" class="large" maxlength="255" value="{% get (Description) %}" />
            </li>

            <li>
                <a href="javascript:void(0);" onclick="doValidation(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("Contas de Usuário");
    function doValidation(thisObject) {
        var Erro = null;
        var Password = $("#Password").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        if (Password.length > 0) {
            if (Password != ConfirmPassword) {
                Erro = "As senhas informadas não conferem!";
            }
        }
        if (Erro != null) {
            alert(Erro);
            return false;
        }
        doSubmit(thisObject);
    }
</script>