{% get (Buscador) %}
<h1>{% get (Title) %}</h1>

<div id="IPSPostBody">
    <div class="clear"></div>
    <p class="minimal">{% get (Insert) %}</p>
    <div>
        {% get (Text) %}
    </div>
    <!-- AddThis Button BEGIN -->
    <br clear="all" />
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
    <br clear="all" />
    <!-- AddThis Button END -->
    <fb:comments href="http://www.amatreco.org{% path (Clipping/Exibir/{% get (idIPSPost) %}) nocache %}" num_posts="10" width="700"></fb:comments>
    <br clear="all" />
    <div class="pagination">
        <a href="{% path ({% get (Retorno) %}) nocache %}" title="Voltar">Voltar</a>
        <a href="{% path (Imprimir/{% get (idIPSPost) %}) nocache %}" target="_blank" title="Imprimir">Imprimir</a>
    </div>
</div>