{% get (Buscador) %}
<h1>Quem Somos</h1>

<div id="QuemSomosBody">

    <h3>Eleita no dia 06 de abril de 2010 para um mandato de 2 anos.<br clear="all" />Esses são os atuais diretores da AMATRECO:</h3>
        <div class="clear"></div>

    {% if ({% get (Total Rows) %} >= 1) TotalRows %}
    {% for ({% get (First Row) %} {% get (Last Row) %}) Rows %}
    <div class="item marked">
        {% if ({% get (QuemSomos Avatar {% this:Rows %}) %} != ) CheckAvatar{% this:Rows %} %}
        <img src='{% path (Starter/QuemSomos/Avatar?Avatar={% get (QuemSomos Avatar {% this:Rows %}) %}) nocache %}' alt='Avatar' class="thumbnail" />
        {% endif:CheckAvatar{% this:Rows %} %}
        <div class="conteudo">
            <p class="bigger title">{% get (QuemSomos Nome {% this:Rows %}) %}</p>
            <p class="minimal">{% get (QuemSomos Funcao {% this:Rows %}) %}</p>
            <p>{% get (QuemSomos Descricao {% this:Rows %}) %}</p>
            <p class="contato">
                <span>{% get (QuemSomos Email {% this:Rows %}) %}</span>
                <span>{% get (QuemSomos Site {% this:Rows %}) %}</span>
                <span>{% get (QuemSomos Facebook {% this:Rows %}) %}</span>
                <span>{% get (QuemSomos Twitter {% this:Rows %}) %}</span>
                <span>{% get (QuemSomos Orkut {% this:Rows %}) %}</span>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    {% endfor:Rows %}
    {% else:TotalRows %}
    <div class="mensagem alerta">Nenhum representante encontrado!</div>
    {% endif:TotalRows %}

    {% if ({% get (Total Rows) %} >= 1) Pagination %}
    <!-- Pagination -->
    <div class="pagination">
        {% if ({% get (First Page) %} >= 1) First %}
        <a href="{% path (QuemSomos/{% get (First Page) %}) nocache %}" title="Primeira Página">Primeira</a>
        {% endif:First %}
        {% if ({% get (Previous Page) %} >= 1) Previous %}
        <a href="{% path (QuemSomos/{% get (Previous Page) %}) nocache %}" title="Página Anterior">Anterior</a>
        {% endif:Previous %}
        <a href="#" class="current" title="{% get (page-this) %}">{% get (This Page) %}/{% get (Total Pages) %}</a>
        {% if ({% get (Next Page) %} >= 1) Next %}
        <a href="{% path (QuemSomos/{% get (Next Page) %}) nocache %}" title="Próxima Página">Próxima</a>
        {% endif:Next %}
        {% if ({% get (Last Page) %} >= 1) Last %}
        <a href="{% path (QuemSomos/{% get (Last Page) %}) nocache %}" title="Última Página">Última</a>
        {% endif:Last %}
    </div>
    <!-- /End Pagination -->
    {% endif:Pagination %}

</div>